<div class="container">
  <div class="px-5 py-2 d-flex justify-content-between">
    <% if user_signed_in? %>
      <span class="mr-2"><%= current_user.email %></span>
      <%= link_to "logout", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
  <div class="p-5">
    <div class="card">
      <div class="card-body">
        <%= form_for @link, remote: true do |form| %>
          <h5 class="card-title">Enter a URL to shorten</h5>
          <%= form.text_field :original_url, id: "link-input", class: "form-control", placeholder: "Enter URL..." %>
          <%= form.submit "Shorten", class: "btn btn-primary mt-2" %>
        <% end %>
        <div id="short-link"></div>
      </div>
    </div>
    <div id="links-list" class="lists-url mt-4">
      <%= render partial: "shareds/table", locals: { links: @links } %>
    </div>
  </div>
</div>
