<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <%= image_tag(@user.avatar, size: "150x150") %>
            <h5 class="my-3"><%= @user.user_name %></h5>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary" id="edit-profile">Edit profile</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.full_name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.email %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.profile.phone_number %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @user.profile.phone_number %></p>
              </div>
            </div>
            <hr>
            <% @user.addresses.each_with_index do |address, index| %>
              <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Address <%= index + 1 %></p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0"><%= address.to_s %></p>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
